[Unit]
Description=Changeup server

[Service]
Type=simple
Restart=always
RestartSec=20
ExecStart=/usr/bin/changeup

[Install]
WantedBy=default.target
